body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

a:-webkit-any-link:hover {
  text-decoration: none;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("./Fonts/poppins-v15-latin-300.eot");
  src: local(""),
    url("./Fonts/poppins-v15-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./Fonts/poppins-v15-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./Fonts/poppins-v15-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("./Fonts/poppins-v15-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./Fonts/poppins-v15-latin-300.svg#Poppins")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./Fonts/poppins-v15-latin-regular.eot");
  src: local(""),
    url("./Fonts/poppins-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./Fonts/poppins-v15-latin-regular.woff2") format("woff2"),
    url("./Fonts/poppins-v15-latin-regular.woff") format("woff"),
    url("./Fonts/poppins-v15-latin-regular.ttf") format("truetype"),
    url("./Fonts/poppins-v15-latin-regular.svg#Poppins") format("svg");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("./Fonts/poppins-v15-latin-500.eot");
  src: local(""),
    url("./Fonts/poppins-v15-latin-500.eot?#iefix") format("embedded-opentype"),
    url("./Fonts/poppins-v15-latin-500.woff2") format("woff2"),
    url("./Fonts/poppins-v15-latin-500.woff") format("woff"),
    url("./Fonts/poppins-v15-latin-500.ttf") format("truetype"),
    url("./Fonts/poppins-v15-latin-500.svg#Poppins") format("svg");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("./Fonts/poppins-v15-latin-600.eot");
  src: local(""),
    url("./Fonts/poppins-v15-latin-600.eot?#iefix") format("embedded-opentype"),
    url("./Fonts/poppins-v15-latin-600.woff2") format("woff2"),
    url("./Fonts/poppins-v15-latin-600.woff") format("woff"),
    url("./Fonts/poppins-v15-latin-600.ttf") format("truetype"),
    url("./Fonts/poppins-v15-latin-600.svg#Poppins") format("svg");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./Fonts/poppins-v15-latin-700.eot");
  src: local(""),
    url("./Fonts/poppins-v15-latin-700.eot?#iefix") format("embedded-opentype"),
    url("./Fonts/poppins-v15-latin-700.woff2") format("woff2"),
    url("./Fonts/poppins-v15-latin-700.woff") format("woff"),
    url("./Fonts/poppins-v15-latin-700.ttf") format("truetype"),
    url("./Fonts/poppins-v15-latin-700.svg#Poppins") format("svg");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("./Fonts/poppins-v15-latin-800.eot");
  src: local(""),
    url("./Fonts/poppins-v15-latin-800.eot?#iefix") format("embedded-opentype"),
    url("./Fonts/poppins-v15-latin-800.woff2") format("woff2"),
    url("./Fonts/poppins-v15-latin-800.woff") format("woff"),
    url("./Fonts/poppins-v15-latin-800.ttf") format("truetype"),
    url("./Fonts/poppins-v15-latin-800.svg#Poppins") format("svg");
}
